body {
  color: #fff;
  background: #000f1a;
  font-size: 24px;
  font-family: arial, sans-serif;
}

.simple_button_dialog{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  img{
    width: $unit * 2;
  }
}

.setting{
  padding: 0 $unit;

  .setting_low{
    display: block;
    margin-bottom: $unit;

    &__label{
      color: #aaa;
    }
  }
}

.circle_progress{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  > div{
    width: 90vmin!important;
    height: 90vmin!important;
  }
}

.message_box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.remaining_time_message{
  width: 90vw;
  text-align: center;

  .work_name{
    font-size: calc(2rem + 2vw);
  }

  .day{
    font-size: calc(3rem + 5vw);
  }

  .other{
    display: block;
  }
}

.random_maxim{
  margin-top: $unit * 3;
  max-width: 90vmin;
  font-family: serif;
  font-style: oblique;

  .auther{
    margin-top: $unit;
    text-align: right;
  }
}

